<%= form_tag entrants_path, method: :get do %>
  <p>
    <%= text_field_tag :query, params[:query] %>
    <%= hidden_field_tag :query_event, @event.meetup_id %>
    <%= submit_tag "Search", name: nil %>
  </p>
<% end %>

<h1>Listing people</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Gamername</th>
    <th>Avatar</th>
    <th></th>
    <th></th>
  </tr>

<% @people.each do |person| %>
  <tr>
    <td><%= person.name %></td>
    <td><%= person.gamername %></td>
    <td><%= person.avatar %></td>
    <td><%= link_to 'Show', person %></td>
  </tr>
<% end %>
</table>

<br />