<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @event.name %>
</p>

<p>
  <b>Meetup:</b>
  <%= @event.meetup_id %>
</p>



<%= form_tag entrants_path, method: :get do %>
  <p>
    <%= text_field_tag :query, params[:query] %>
    <%= hidden_field_tag :query_event, @event.meetup_id %>
    <%= submit_tag "Search", name: nil %>
  </p>
<% end %>



<%= link_to 'Back', events_path %>
