<h1>Find yourself! </h1>
<h3>name or gamername...</h3>
<br/>

<%= form_tag entrants_path, method: :get do %>
  <p>
    <%= text_field_tag :query, params[:query] %>
    <%= hidden_field_tag :query_event, @query_event%>
    <%= submit_tag "Search", name: nil %>
  </p>
<% end %>


<% @entrants.each do |entrant| %>
    <%= link_to (entrant) do %>
      <h3><%= entrant.person.name %> - <%= entrant.person.name %></h3>
      <%= image_tag(entrant.person.avatar.thumb) %>
    <% end %>
    <hr />

<% end %>
<br />

