<p id="notice"><%= notice %></p>

<h1>-= PRINTING BADGE =- </h1>
<h2>Welcome <%= @entrant.person.name%></h2>

<p> Please place label on appropriate body appendage </p>

<p>
  <%= image_tag('/assets/printer.png') %>
</p>

<h3>max print count: <%= @entrant.printcount%> of <%= Settings.max_badge_printcount %></h3>

<p>
  <b>entrant name:</b>
  <%= @entrant.name %>
</p>

<h1> <%= link_to 'DONE!', :controller => "events", :action => "show", :id => @entrant.event%> </h1>
