<p id="notice"><%= notice %></p>

<h1>Are you <%= @entrant.person.name %>?</h1>

<p>answer for great justice</p>

<h2><%= link_to "YES! :)", :controller => "entrants", :action => "print_badge", :id => @entrant %></h2>

<h2> <%= link_to 'NO :(', :controller => "events", :action => "show", :id => @entrant.event%> </h2>



  <%= image_tag(@entrant.person.avatar) %>



