<!DOCTYPE html>
<html>
<head>
  <title>Singularity</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <% if @redirect_url %>
    <meta http-equiv='refresh' content='<%= @redirect_delay -%>;url=<%= @redirect_url -%>'>
  <% end %>
</head>
<body>
<div class="row-fluid">
  <div class="span12">
    <div class="row-fluid">
      <div class="span2"</div>
      </div>
      <div class="span12">
        <%= yield %>
      </div>
      <div class="span2"</div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
